<div class="container">
    <center>
        <img src="https://goo.gl/oS0CS0" class="my-5">
        <h1> 신이 나를 만들 때</h1>
        <form action="/home/result">
          <input class="form-control col-4 mt-4" type="text" name='username' placeholder='이름을 입력하세요'>
          <button class="btn btn-primary mt-3" type="submit" >Submit</button>
        </form>
    </center>
</div>